* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: 1px solid red;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px; }
  .grid figure {
    position: relative;
    overflow: hidden;
    margin: 15px;
    background: #333;
    box-sizing: border-box; }
    .grid figure img {
      position: relative;
      display: block;
      width: 100%;
      opacity: 0.7;
      transition: opacity 0.3s;
      min-height: 400px; }
  .grid figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center; }
  .grid figcaption h2 {
    font-size: 28px;
    margin: 0 0 20px 0;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    transition: transform 0.3s; }
  .grid figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    transition: opacity 0.3s, transform 0.3s; }
  .grid figcaption h2,
  .grid figcaption p {
    transform: translateY(50px); }
  .grid figure button {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: opacity 0.3s, transform 0.3s; }
  .grid figcaption h2 {
    color: #e74c3c; }
  .grid figcaption p {
    transition-delay: 0.05s; }
  .grid figure button {
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background: #fff;
    color: #333;
    font-weight: 300;
    transform: translateY(100%);
    font-size: 100%;
    margin: 0px; }
  .grid a:hover figure button {
    transition-timing-function: ease-out;
    transform: translateY(0); }
  .grid figcaption h2,
  .grid figcaption p {
    timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445); }
  .grid a:hover figcaption p {
    transition-delay: 0s;
    transition-duration: 0.1s; }
  .grid figcaption,
  .grid figcaption h2,
  .grid figcaption p,
  .grid figure button {
    backface-visibility: hidden; }
  .grid svg {
    position: absolute;
    top: -1px;
    z-index: 10;
    width: 100%;
    height: auto; }
  .grid a:hover figure img {
    opacity: 1; }
  .grid a:hover figcaption h2,
  .grid a:hover figcaption p {
    transform: translateY(0); }
  .grid a:hover figcaption p {
    opacity: 0; }
  .grid figcaption h2 {
    color: #e74c3c; }
  .grid figcaption p {
    transition-delay: 0.05s; }
  .grid figure button {
    bottom: 0;
    left: 0;
    padding: 20px; }
  .grid .achievement-btn-fahter {
    width: 100%; }
    .grid .achievement-btn-fahter a {
      width: 50%; }
    .grid .achievement-btn-fahter .achievement-btn {
      display: inline-block;
      color: black;
      float: left;
      width: 50%;
      text-align: center;
      line-height: 50px;
      border: 1px solid black;
      padding: 150px 0px;
      box-sizing: border-box;
      font-size: 50px; }
    .grid .achievement-btn-fahter .achievement-btn-1 {
      position: relative;
      cursor: pointer; }
      .grid .achievement-btn-fahter .achievement-btn-1::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        background-image: url("../image/achievement-img/whale111.jpg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover; }
    .grid .achievement-btn-fahter .achievement-btn-2 {
      position: relative;
      cursor: pointer; }
      .grid .achievement-btn-fahter .achievement-btn-2:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        background-image: url("../image/achievement-img/whalecourse.jpeg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover; }
  .grid .achievement-slogen {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin: 30px 0; }
    .grid .achievement-slogen .achieve-fishimg-1 {
      display: block;
      width: 10%;
      float: left; }
    .grid .achievement-slogen .achieve-fishimg-2 {
      display: block;
      width: 10%;
      float: left; }
    .grid .achievement-slogen p {
      width: 80%;
      font-size: 20px;
      float: left;
      text-align: center;
      padding: 30px 0;
      box-sizing: border-box; }
  .grid .achievement-content a {
    float: left;
    width: 25%;
    color: #333;
    box-sizing: border-box; }
    .grid .achievement-content a:nth-child(odd) {
      margin: 30px 0 -30px 0; }

@media screen and (max-width: 767px) {
  .grid #A .achieve-fishimg-1 {
    width: 40%; }
  .grid #A p {
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box; }
  .grid #A .achieve-fishimg-2 {
    display: none; }
  .grid #A .achievement-content a {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; }
    .grid #A .achievement-content a figure svg {
      height: 50%; }
    .grid #A .achievement-content a figure figcaption p {
      display: none; }
    .grid #A .achievement-content a figure figcaption h2 {
      font-size: 30px;
      padding-top: 0; }
  .grid #B .achieve-fishimg-1 {
    width: 40%; }
  .grid #B p {
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box; }
  .grid #B .achieve-fishimg-2 {
    display: none; } }
