* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.long {
  height: 100vh; }

.achievement-container {
  overflow: hidden;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto; }
  .achievement-container .achieve-inside-title {
    width: 100%;
    box-sizing: border-box;
    padding: 20px; }
    .achievement-container .achieve-inside-title h2 {
      text-align: center; }
    .achievement-container .achieve-inside-title p {
      font-weight: bold; }
    .achievement-container .achieve-inside-title .title-content {
      color: black;
      margin: 15px 0px; }
  .achievement-container .achieve-inside-progrebar {
    width: 100%; }
    .achievement-container .achieve-inside-progrebar .bar-1,
    .achievement-container .achieve-inside-progrebar .bar-2,
    .achievement-container .achieve-inside-progrebar .bar-3 {
      overflow: hidden;
      width: 20%;
      height: auto;
      float: left; }
    .achievement-container .achieve-inside-progrebar .progressbar-text-father {
      box-sizing: border-box; }
      .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text1,
      .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text2,
      .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text3 {
        width: 40%;
        float: left;
        box-sizing: border-box;
        padding: 20px;
        font-size: 20px; }
  .achievement-container .achieve-inside-bloack {
    width: 100%;
    max-height: 450px;
    margin: 10px 0; }
    .achievement-container .achieve-inside-bloack .achieve-inside-left {
      overflow: hidden;
      width: 50%;
      height: auto;
      float: left;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden; }
      .achievement-container .achieve-inside-bloack .achieve-inside-left p {
        margin: 15px 0;
        font-size: 20px; }
      .achievement-container .achieve-inside-bloack .achieve-inside-left span {
        display: inline-block;
        width: 100%;
        border: 1px solid black;
        text-align: center;
        cursor: pointer; }
    .achievement-container .achieve-inside-bloack .achieve-inside-right {
      max-height: 300px;
      overflow: hidden;
      width: 50%;
      height: auto;
      float: left;
      overflow: hidden; }
      .achievement-container .achieve-inside-bloack .achieve-inside-right img {
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px; }

@media screen and (max-width: 767px) {
  .achievement-container .achieve-inside-progrebar .bar-1,
  .achievement-container .achieve-inside-progrebar .bar-2,
  .achievement-container .achieve-inside-progrebar .bar-3 {
    font-size: 20px;
    width: 33.33333%; }
    .achievement-container .achieve-inside-progrebar .bar-1 text,
    .achievement-container .achieve-inside-progrebar .bar-2 text,
    .achievement-container .achieve-inside-progrebar .bar-3 text {
      font-size: 15px;
      width: 100%; }
  .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text1,
  .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text2,
  .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text3 {
    display: none; }
  .achievement-container .achieve-inside-title {
    width: 100%;
    font-size: 15px; }
  .achievement-container .achieve-inside-bloack .achieve-inside-right {
    width: 100%;
    margin-top: 15px;
    padding: 20px; }
  .achievement-container .achieve-inside-bloack .achieve-inside-left {
    width: 100%;
    padding: 20px;
    margin-top: 15px; }
    .achievement-container .achieve-inside-bloack .achieve-inside-left p {
      font-size: 25px !important; } }
