* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.header {
  position: fixed; }

.achievement-bg {
  background-image: url("../image/achievement-img/WhaleOffKaikouraWatermarked.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  box-sizing: border-box;
  position: relative; }
  .achievement-bg h2 {
    color: white;
    font-size: 60px;
    max-width: 100%;
    padding: 170px;
    box-sizing: border-box;
    text-align: center; }
  .achievement-bg h4 {
    color: white;
    padding: 20px 0;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center; }
  .achievement-bg .element1 {
    background-image: url("../image/achievement-img/big-clouds.png");
    background-size: cover;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 40%;
    top: 46%; }
  .achievement-bg .element2 {
    background-image: url("../image/achievement-img/clouds-near.png");
    background-size: cover;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 58%;
    top: 53%; }
  .achievement-bg .element3 {
    background-image: url("../image/achievement-img/clouds-near.png");
    background-size: cover;
    width: 500px;
    position: absolute;
    left: 10%;
    top: 59%; }
  .achievement-bg .element4 {
    background-image: url("../image/achievement-img/gie5a5AzT.gif");
    background-size: 100%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    background-repeat: no-repeat; }
  .achievement-bg .element5 {
    background-image: url("../image/achievement-img/74525-whale-tail.png");
    background-size: 100%;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 50%;
    background-repeat: no-repeat;
    top: 77%; }
  .achievement-bg .element6 {
    background-image: url("../image/achievement-img/clouds-near.png");
    background-size: 100%;
    width: 700px;
    height: 300px;
    position: absolute;
    left: 15%;
    background-repeat: no-repeat;
    top: 75%; }
  .achievement-bg .element7 {
    background-image: url("../image/achievement-img/clouds-far.png");
    background-size: 100%;
    width: 700px;
    height: 300px;
    position: absolute;
    left: 10%;
    background-repeat: no-repeat;
    top: 75%; }

.section1 {
  height: 80vh;
  width: 100%;
  background-color: #231F20; }
  .section1 p {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 30px;
    padding-top: 30px;
    color: white; }
  .section1 .layer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px; }
    .section1 .layer .btn1,
    .section1 .layer .btn2,
    .section1 .layer .section1-content {
      margin: 45px 0;
      box-sizing: border-box; }
    .section1 .layer .btn1,
    .section1 .layer .btn2 {
      color: white;
      width: 10%;
      float: left;
      font-size: 50px;
      box-sizing: border-box; }
    .section1 .layer .btn2,
    .section1 .layer .btn1 {
      padding: 110px 40px; }
    .section1 .layer .section1-content {
      color: white;
      width: 80%;
      float: left; }
      .section1 .layer .section1-content img {
        width: 100%;
        max-height: 240px; }
      .section1 .layer .section1-content p {
        box-sizing: border-box;
        float: left;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 30px; }

.grid {
  margin-top: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px; }
  .grid figure {
    position: relative;
    overflow: hidden;
    margin: 15px;
    background: #333;
    box-sizing: border-box; }
    .grid figure img {
      position: relative;
      display: block;
      width: 100%;
      opacity: 0.7;
      transition: opacity 0.3s;
      min-height: 400px; }
  .grid figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center; }
  .grid figcaption h2 {
    font-size: 28px;
    margin: 0 0 20px 0;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    transition: transform 0.3s; }
  .grid figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    transition: opacity 0.3s, transform 0.3s; }
  .grid figcaption h2,
  .grid figcaption p {
    transform: translateY(50px); }
  .grid figure button {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: opacity 0.3s, transform 0.3s; }
  .grid figcaption h2 {
    color: #e74c3c; }
  .grid figcaption p {
    transition-delay: 0.05s; }
  .grid figure button {
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background: #fff;
    color: #333;
    font-weight: 300;
    transform: translateY(100%);
    font-size: 100%;
    margin: 0px; }
  .grid a:hover figure button {
    transition-timing-function: ease-out;
    transform: translateY(0); }
  .grid figcaption h2,
  .grid figcaption p {
    timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445); }
  .grid a:hover figcaption p {
    transition-delay: 0s;
    transition-duration: 0.1s; }
  .grid figcaption,
  .grid figcaption h2,
  .grid figcaption p,
  .grid figure button {
    backface-visibility: hidden; }
  .grid svg {
    position: absolute;
    top: -1px;
    z-index: 10;
    width: 100%;
    height: auto; }
  .grid a:hover figure img {
    opacity: 1; }
  .grid a:hover figcaption h2,
  .grid a:hover figcaption p {
    transform: translateY(0); }
  .grid a:hover figcaption p {
    opacity: 0; }
  .grid figcaption h2 {
    color: #e74c3c; }
  .grid figcaption p {
    transition-delay: 0.05s; }
  .grid figure button {
    bottom: 0;
    left: 0;
    padding: 20px; }
  .grid .achievement-btn-fahter {
    width: 100%; }
    .grid .achievement-btn-fahter .achievement-btn {
      display: inline-block;
      color: black;
      float: left;
      width: 50%;
      text-align: center;
      line-height: 50px;
      padding: 150px 0px;
      box-sizing: border-box;
      font-size: 50px; }
      .grid .achievement-btn-fahter .achievement-btn p {
        font-size: 30px; }
    .grid .achievement-btn-fahter .achievement-btn-1 {
      position: relative;
      cursor: pointer; }
      .grid .achievement-btn-fahter .achievement-btn-1::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        left: 15%;
        z-index: 1;
        opacity: 0.6;
        background-image: url("../image/achievement-img/whale111.jpg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover; }
    .grid .achievement-btn-fahter .achievement-btn-2 {
      position: relative;
      cursor: pointer; }
      .grid .achievement-btn-fahter .achievement-btn-2:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        left: 20%;
        z-index: 1;
        opacity: 0.6;
        background-image: url("../image/achievement-img/whalecourse.jpeg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover; }
  .grid .achieve-act-page {
    margin-top: 30px;
    box-sizing: border-box; }
  .grid .achievement-content a {
    float: left;
    width: 25%;
    color: #333;
    box-sizing: border-box; }
    .grid .achievement-content a:nth-child(odd) {
      margin: 30px 0 -30px 0; }

@media screen and (max-width: 767px) {
  .grid #A .achieve-fishimg-1 {
    width: 40%; }
  .grid #A p {
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box; }
  .grid #A .achieve-fishimg-2 {
    display: none; }
  .grid #A .achievement-content a {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; }
    .grid #A .achievement-content a figure svg {
      height: 50%; }
    .grid #A .achievement-content a figure figcaption p {
      display: none; }
    .grid #A .achievement-content a figure figcaption h2 {
      font-size: 30px;
      padding-top: 0; }
  .grid #B .achieve-fishimg-1 {
    width: 40%; }
  .grid #B p {
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box; }
  .grid #B .achieve-fishimg-2 {
    display: none; }
  .grid #B .achievement-content a {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; }
    .grid #B .achievement-content a figure svg {
      height: 50%; }
    .grid #B .achievement-content a figure figcaption p {
      display: none; }
    .grid #B .achievement-content a figure figcaption h2 {
      font-size: 30px;
      padding-top: 0; } }
