h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 56px;
    font-weight: 800;
    font-family: 'Helvetica', 'roboto', arial, '微軟正黑體', sans-serif;
    line-height: 1.5;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Helvetica', 'roboto', arial, '微軟正黑體', sans-serif;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Helvetica', 'roboto', arial, '微軟正黑體', sans-serif;
    line-height: 48px;
}

h4 {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Helvetica', 'roboto', arial, '微軟正黑體', sans-serif;
    line-height: 1.5;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Helvetica', 'roboto', arial, '微軟正黑體', sans-serif;
    line-height: 32px;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Helvetica', 'roboto', arial, '微軟正黑體', sans-serif;
    line-height: 2;
}

p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Helvetica', 'roboto', arial, '微軟正黑體', sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
}