// common area
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: 1px solid red;
}

// body {
//     background-color: rgb(205, 221, 247)
// }
.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin padding() {
    padding: 20px;
}

@mixin btn($w, $h, $bgcolor, $color) {
    width: $w;
    height: $h;
    background-color: $bgcolor;
    color: $color;
    border-radius: 50%;
}

@mixin flexcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin positionAbcenter() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

@mixin about-us-backgroundimage($url) {
    clear: both;
    color: black;
    background-image: $url;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vw;
}

@mixin size($w, $h:null) {
    width: $w;
    height: $h;
}

@mixin achievement-inside-container() {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.long {
    height: 100vh;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.achievement-container {
    overflow: hidden;
    @include achievement-inside-container();
    .achieve-inside-title {
        @include size(100%, null);
        box-sizing: border-box;
        h2 {
            text-align: center;
        }
        @include padding();
        p {
            font-weight: bold;
        }
        .title-content {
            color: black;
            margin: 15px 0px;
        }
    }
    .achieve-inside-progrebar {
        @include size(100%, null);
        .bar-1,
        .bar-2,
        .bar-3 {
            overflow: hidden;
            @include size(20%, auto);
            float: left; // background-color: red;
        }
        .progressbar-text-father {
            box-sizing: border-box;
            .progressbar-text1,
            .progressbar-text2,
            .progressbar-text3 {
                @include size(40%, null);
                float: left;
                box-sizing: border-box;
                padding: 20px;
                font-size: 20px;
            }
        }
    }
    .achieve-inside-bloack {
        @include size(100%, null);
        max-height: 450px;
        margin: 10px 0;
        .achieve-inside-left {
            overflow: hidden;
            @include size(50%, auto);
            float: left;
            @include padding();
            box-sizing: border-box;
            overflow: hidden;
            p {
                margin: 15px 0;
                font-size: 20px;
            }
            span {
                display: inline-block;
                width: 100%;
                border: 1px solid black;
                text-align: center;
                cursor: pointer;
            }
        }
        .achieve-inside-right {
            max-height: 300px;
            overflow: hidden;
            @include size(50%, auto);
            float: left;
            overflow: hidden;
            img {
                position: relative;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
            }
        }
    }
} //end 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width:767px) {
    .achievement-container {
        .achieve-inside-progrebar {
            .bar-1,
            .bar-2,
            .bar-3 {
                font-size: 20px;
                width: 33.33333%;
                text {
                    font-size: 15px;
                    width: 100%;
                }
            }
            .progressbar-text-father {
                .progressbar-text1,
                .progressbar-text2,
                .progressbar-text3 {
                    display: none;
                }
            }
        }
        .achieve-inside-title {
            width: 100%;
            font-size: 15px;
        }
        .achieve-inside-bloack {
            .achieve-inside-right {
                width: 100%;
                margin-top: 15px;
                @include padding();
            }
            .achieve-inside-left {
                width: 100%;
                @include padding();
                margin-top: 15px;
                p {
                    font-size: 25px !important;
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////