        * {
            // common area
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
            outline: 1px solid red;
            box-sizing: border-box;
        }

        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0; // background-color: rgb(205, 221, 247)
        }

        .clearfix {
            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        @mixin btn($w, $h, $bgcolor, $color) {
            width: $w;
            height: $h;
            background-color: $bgcolor;
            color: $color;
            border-radius: 50%;
        }

        @mixin positionAbcenter() {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%)
        }

        @mixin size($w, $h:null) {
            width: $w;
            height: $h;
        }

        @mixin marginauto() {
            margin-left: auto;
            margin-right: auto;
        } // .achieve-bg {
        //     background-repeat: no-repeat; // background-size: cover;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 1500px;
        //     height: 10000px; // @include size(100%, 100%);
        //     z-index: -100;
        //     background-image: url("../image/achievement-img/counter.png");
        // } /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        .header {
            position: fixed;
        }

        .achievement-bg {
            background-image: url('../image/achievement-img/Whales-Kaikoura.jpg');
            @include size(100%,
            100%);
            background-size: cover;
            background-position: center top; // margin-bottom: 50px;
            box-sizing: border-box;
            position: relative;
            h2 {
                color: white;
                font-size: 70px;
                max-width: 100%;
                padding-top: 140px;
                box-sizing: border-box;
                text-align: center;
            }
            h4 {
                color: white;
                padding: 10px 0;
                box-sizing: border-box;
                max-width: 100%;
                text-align: center;
            }
            .element1 {
                background-image: url('../image/achievement-img/big-clouds.png');
                background-size: cover;
                width: 500px;
                height: 300px;
                position: absolute;
                left: 20%;
                top: 46%;
            }
            .element2 {
                background-image: url('../image/achievement-img/clouds-near.png');
                background-size: cover;
                width: 500px;
                height: 300px;
                position: absolute;
                left: 58%;
                top: 60%;
            }
            .element3 {
                background-image: url('../image/achievement-img/clouds-near.png');
                background-size: cover;
                width: 500px; // height: 300px;
                position: absolute;
                left: 10%;
                top: 59%;
            }
            .element4 {
                background-image: url('../image/achievement-img/gie5a5AzT.gif');
                background-size: 100%;
                width: 300px;
                height: 300px;
                position: absolute;
                top: 23%;
                left: 57%;
                background-repeat: no-repeat;
            }
            .element5 {
                background-image: url('../image/achievement-img/whaletial.png');
                background-size: 100%;
                width: 400px;
                height: 250px;
                position: absolute;
                left: 14%;
                background-repeat: no-repeat;
                top: 84%;
            }
            .element6 {
                background-image: url('../image/achievement-img/clouds-near.png');
                background-size: 100%;
                width: 700px;
                height: 300px;
                position: absolute;
                left: 5%;
                background-repeat: no-repeat;
                top: 60%;
            }
            .element7 {
                background-image: url('../image/achievement-img/clouds-far.png');
                background-size: 100%;
                width: 700px;
                height: 300px;
                position: absolute;
                left: 10%;
                background-repeat: no-repeat;
                top: 75%;
            }
        }

        .section1 {
            // height: 60vh;
            width: 100%; // background-color: #231F20;
            margin-bottom: 30px;
            box-sizing: border-box;
            p {
                text-align: center;
                box-sizing: border-box;
                width: 100%;
                font-size: 30px;
                padding-top: 30px;
                color: black;
            }
            .layer {
                max-width: 1140px;
                @include marginauto();
                .Slidrrr {
                    width: 100%;
                    .displayContainer {
                        overflow: hidden;
                        width: 100%; // max-height: 400px;
                        position: relative;
                        .content-001 {
                            box-sizing: border-box;
                            padding: 20px;
                        }
                        p {
                            font-size: 30px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                        }
                    }
                }
            }
            .sliderbtn {
                width: 100%;
                display: block;
                cursor: pointer;
                div {
                    text-align: center;
                    float: left;
                    box-sizing: border-box;
                    font-size: 50px;
                    width: 50%;
                    color: black;
                    margin-top: 10px;
                }
            }
        }

        .grid {
            margin-top: 20px;
            box-sizing: border-box;
            figure {
                position: relative;
                overflow: hidden;
                margin: 15px;
                background: #333;
                box-sizing: border-box;
                img {
                    position: relative;
                    display: block;
                    max-width: 600px;
                    opacity: 0.7;
                    transition: opacity 0.3s;
                    min-height: 500px;
                }
            }
            figcaption {
                position: absolute;
                top: 0;
                z-index: 11;
                padding: 10px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            figcaption h2 {
                font-size: 28px;
                margin: 0 0 20px 0;
                color: #3498db;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 300; // font-size: 130%;
                transition: transform 0.3s;
            }
            figcaption p {
                padding: 0 20px;
                color: #aaa;
                font-weight: 300;
                transition: opacity 0.3s, transform 0.3s;
            }
            figcaption h2,
            figcaption p {
                transform: translateY(50px);
            }
            figure button {
                position: absolute;
                padding: 4px 20px;
                border: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
                transition: opacity 0.3s, transform 0.3s;
            }
            figcaption h2 {
                color: #e74c3c;
            }
            figcaption p {
                transition-delay: 0.05s;
            }
            figure button {
                bottom: 0;
                left: 0;
                padding: 15px;
                width: 100%;
                background: #fff;
                color: #333;
                font-weight: 300;
                transform: translateY(100%);
                font-size: 100%;
                margin: 0px;
            }
            & a:hover figure button {
                transition-timing-function: ease-out;
                transform: translateY(0);
            }
            & figcaption h2,
            & figcaption p {
                timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
            }
            & a:hover figcaption p {
                transition-delay: 0s;
                transition-duration: 0.1s;
            }
            figcaption,
            figcaption h2,
            figcaption p,
            figure button {
                backface-visibility: hidden;
            }
            svg {
                position: absolute;
                top: -1px;
                z-index: 10;
                width: 100%;
                height: auto;
            }
            a:hover figure img {
                opacity: 1;
            }
            a:hover figcaption h2,
            a:hover figcaption p {
                transform: translateY(0);
            }
            a:hover figcaption p {
                opacity: 0;
            }
            figcaption h2 {
                color: #e74c3c;
            }
            figcaption p {
                transition-delay: 0.05s;
            }
            figure button {
                bottom: 0;
                left: 0;
                padding: 20px;
            }
            @include marginauto();
            max-width: 1140px;
            .achievement-btn-fahter {
                width: 100%; // background-color: red;  
                .btn1,
                .btn2 {
                    p {
                        font-size: 43px;
                        color: white;
                        font-weight: bold;
                        width: 50%;
                        position: absolute;
                        left: 25%;
                        top: 27%;
                    }
                }
                .btn1 {
                    cursor: pointer;
                    width: 50%;
                    float: left;
                    text-align: center;
                    box-sizing: border-box;
                    padding-left: 90px;
                    position: relative;
                    .btn1-inside {
                        position: relative;
                        width: 400px;
                        height: 400px;
                        border-radius: 50%;
                        overflow: hidden;
                        animation: oval-anime 10s linear 0s infinite, square-anime 15s linear 0s infinite;
                        vertical-align: bottom;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 27%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: url('../image/achievement-img/event_list_ov.png') top center no-repeat;
                            background-size: 100% 100%;
                            transition: 0.3s ease;
                            background-position: left top;
                        }
                    }
                }
                .btn2 {
                    cursor: pointer;
                    text-align: center;
                    width: 50%;
                    float: left;
                    padding-left: 90px;
                    position: relative;
                    .btn2-inside {
                        position: relative;
                        width: 400px;
                        height: 400px;
                        border-radius: 50%;
                        overflow: hidden;
                        animation: oval-anime 10s linear 0s infinite, square-anime 15s linear 0s infinite;
                        vertical-align: bottom;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 27%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: url('../image/achievement-img/event_list_ov.png') top center no-repeat;
                            background-size: 100% 100%;
                            transition: 0.3s ease;
                        }
                    }
                }
                .btn1:hover .btn1-inside:after,
                .btn2:hover .btn2-inside:after {
                    top: 10%;
                }
            }
            .achieve-act-page {
                margin-top: 30px;
                box-sizing: border-box;
            }
            .achievement-content a {
                float: left;
                width: 25%;
                color: #333;
                box-sizing: border-box;
                &:nth-child(odd) {
                    margin: 30px 0 -30px 0;
                }
            }
        }

        @keyframes oval-anime {
            0% {
                border-radius: 60% 50% 50% 60%;
            }
            25% {
                border-radius: 60% 60% 50% 50%;
            }
            50% {
                border-radius: 50% 60% 60% 50%;
            }
            75% {
                border-radius: 50% 50% 60% 60%;
            }
            100% {
                border-radius: 60% 50% 50% 60%;
            }
        } ///////////////////////////////////////////////////////////////////////////////////////.active {
        //     border: 5px solid black;
        // }
        @media screen and (max-width:767px) {
            .achievement-bg h2 {
                padding-top: 100px;
            }
            .achievement-bg {
                .element1 {
                    display: none;
                }
                .element4 {
                    display: none;
                }
                .element3 {
                    display: none;
                }
                .element2 {
                    display: none;
                }
                .element7 {
                    display: none;
                }
                .element6 {
                    display: none;
                }
                .element5 {
                    width: 200px;
                    height: 300px;
                    left: -2%;
                    top: 87%;
                }
            }
            .grid {
                .achieve-fishimg-1 {
                    width: 40%;
                }
                .achieve-fishimg-2 {
                    display: none;
                }
                .achievement-btn-fahter {
                    .btn1 {
                        width: 100%;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        padding-left: 0;
                        p {
                            left: 30%;
                        }
                        .btn1-inside {
                            width: 300px;
                            height: 300px;
                            margin: auto;
                        }
                    }
                    .btn2 {
                        padding-left: 0;
                        width: 100%;
                        p {
                            left: 30%;
                        }
                        .btn2-inside {
                            width: 300px;
                            height: 300px;
                            margin: auto;
                        }
                    }
                }
                .achievement-content {
                    a {
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        figure {
                            svg {
                                height: 50%;
                            }
                            img {
                                max-width: 1000px;
                            }
                            figcaption {
                                p {
                                    display: none;
                                }
                                h2 {
                                    font-size: 30px;
                                    padding-top: 0;
                                }
                            }
                        }
                    }
                }
                .achieve-fishimg-1 {
                    width: 40%;
                }
                p {
                    width: 60%;
                    padding: 20px 0;
                    box-sizing: border-box;
                }
                .achieve-fishimg-2 {
                    display: none;
                }
                .achievement-content {
                    a {
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        figure {
                            svg {
                                height: 50%;
                            }
                            figcaption {
                                p {
                                    display: none;
                                }
                                h2 {
                                    font-size: 30px;
                                    padding-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        } //end