* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

.btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 8px 56px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    transition: all 0.3s;
    border: none;
    background-color: rgba(5, 4, 8, 0.6);
}

textarea {
    font-size: 16px;
}

.scroll-back {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.addbtn {
    margin-top: 5px;
    border: 1px solid black;
    display: inline-block;
    background-color: yellow;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.tellEmpty {
    width: 100%;
    text-align: center;
}

.btnFather {
    margin: 15px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

textarea {
    width: 90%;
}

.FinishEditedBtnFather {
    width: 100%;
    font-size: 16px;
    text-align: right;
}

.FinishEditedBtn {
    background-color: azure;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 30px;
}

button {
    padding: 8px 8px;
    display: inline-block;
}

table td {
    border: none;
}

.spotDiv {
    margin-top: 15px;
    box-sizing: border-box;
}

.line {
    width: 100%;
    height: 1px;
    border: 1px solid white;
    margin-top: 3px;
    box-sizing: border-box;
}