@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-family: "微軟正黑體"; }

.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 8px 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  border: none;
  background-color: orange;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn-sm {
  margin-top: 8px; }

.login-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.login-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 20000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 260px;
  height: 320px;
  border-radius: 10px; }
  .login-block .title {
    color: #fff;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px; }
  .login-block label {
    display: block;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 8px; }
