* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: 1px solid red; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.long {
  height: 100vh; }

header {
  position: fixed; }

.achieve-inside-bg-section {
  background-image: url("../images/achievement-inside-img/orche-in-mare.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative; }
  .achieve-inside-bg-section p {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    font-weight: bold;
    transform: translateX(-50%) translateY(-50%); }
  .achieve-inside-bg-section .spin-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
    .achieve-inside-bg-section .spin-animation:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 350px;
      height: 350px;
      background: url("../images/achievement-inside-img/snav-open.png");
      background-size: 100% 100%;
      animation: spin 25s linear infinite;
      background-repeat: no-repeat; }
    .achieve-inside-bg-section .spin-animation:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 350px;
      height: 350px;
      background: url("../images/achievement-inside-img/snav-open02.png");
      background-size: 100% 100%;
      animation: spin-reverse 25s linear infinite;
      background-repeat: no-repeat; }
  .achieve-inside-bg-section .wave01,
  .achieve-inside-bg-section .wave02,
  .achieve-inside-bg-section .wave03 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 104px; }
  .achieve-inside-bg-section .wave01 {
    background-image: url("../images/achievement-inside-img/mv_wave.png");
    background-position: left 0 top;
    background-repeat: repeat-x;
    animation: wave-anime01 50s linear infinite;
    opacity: 0.45; }
  .achieve-inside-bg-section .wave02 {
    background-image: url("../images/achievement-inside-img/mv_wave.png");
    background-position: left 300px top;
    background-repeat: repeat-x;
    -webkit-animation: wave-anime02 40s linear infinite;
    animation: wave-anime02 40s linear infinite;
    opacity: 0.7; }
  .achieve-inside-bg-section .wave03 {
    background-image: url("../images/achievement-inside-img/mv_wave.png");
    background-position: left 600px top;
    background-repeat: repeat-x;
    -webkit-animation: wave-anime03 30s linear infinite;
    animation: wave-anime03 30s linear infinite; }

@keyframes wave-anime01 {
  0% {
    background-position: left 0 top; }
  100% {
    background-position: left 2000px top; } }

@keyframes wave-anime02 {
  0% {
    background-position: left 300px top; }
  100% {
    background-position: left 2300px top; } }

@keyframes wave-anime03 {
  0% {
    background-position: left 600px top; }
  100% {
    background-position: left 2600px top; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

.achievement-container {
  overflow: hidden;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto; }
  .achievement-container .achieve-inside-title {
    width: 100%;
    box-sizing: border-box;
    padding: 20px; }
    .achievement-container .achieve-inside-title h2 {
      text-align: center;
      position: relative; }
      .achievement-container .achieve-inside-title h2:after {
        content: '';
        display: block;
        position: absolute;
        background: url("../images/achievement-inside-img/wave.png");
        bottom: 0;
        left: 28%;
        width: 40%;
        height: 25%;
        background-size: 100% 100%; }
    .achievement-container .achieve-inside-title p {
      font-weight: bold;
      font-size: 20px; }
    .achievement-container .achieve-inside-title .title-content {
      color: black;
      margin: 15px 0px; }
  .achievement-container .achieve-inside-progrebar {
    width: 100%; }
    .achievement-container .achieve-inside-progrebar .bar-1,
    .achievement-container .achieve-inside-progrebar .bar-2,
    .achievement-container .achieve-inside-progrebar .bar-3 {
      overflow: hidden;
      width: 20%;
      height: auto;
      float: left; }
    .achievement-container .achieve-inside-progrebar .progressbar-text-father {
      box-sizing: border-box; }
      .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text1,
      .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text2,
      .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text3 {
        width: 40%;
        float: left;
        box-sizing: border-box;
        padding: 20px;
        font-size: 20px; }
  .achievement-container .block1 {
    width: 100%;
    max-height: 450px;
    margin: 10px 0; }
    .achievement-container .block1 .achieve-inside-left {
      overflow: hidden;
      width: 70%;
      height: auto;
      float: left;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden; }
      .achievement-container .block1 .achieve-inside-left p {
        margin: 15px 0;
        font-size: 25px; }
      .achievement-container .block1 .achieve-inside-left span {
        display: inline-block;
        width: 100%;
        border: 1px solid black;
        text-align: center;
        cursor: pointer; }
    .achievement-container .block1 .achieve-inside-right {
      max-height: 300px;
      overflow: hidden;
      width: 100%;
      height: auto;
      float: left;
      overflow: hidden; }
      .achievement-container .block1 .achieve-inside-right img {
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px; }
  .achievement-container .block2 {
    width: 100%; }
    .achievement-container .block2 .block2-1 {
      width: 55%;
      float: left;
      box-sizing: border-box;
      overflow: hidden;
      padding: 55px 10px;
      font-size: 20px; }
    .achievement-container .block2 .block2-2 {
      width: 45%;
      float: left;
      box-sizing: border-box;
      padding: 55px 10px; }
      .achievement-container .block2 .block2-2 img {
        width: 100%;
        height: auto; }
    .achievement-container .block2:nth-of-type(odd) .block2-1 {
      position: relative;
      left: 45%; }
    .achievement-container .block2:nth-of-type(odd) .block2-2 {
      position: relative;
      left: -55%; }

@media screen and (max-width: 767px) {
  .achievement-container .spin-animation {
    overflow: hidden; }
  .achievement-container .achieve-inside-progrebar .bar-1,
  .achievement-container .achieve-inside-progrebar .bar-2,
  .achievement-container .achieve-inside-progrebar .bar-3 {
    font-size: 20px;
    width: 33.33333%; }
    .achievement-container .achieve-inside-progrebar .bar-1 text,
    .achievement-container .achieve-inside-progrebar .bar-2 text,
    .achievement-container .achieve-inside-progrebar .bar-3 text {
      font-size: 15px;
      width: 100%; }
  .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text1,
  .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text2,
  .achievement-container .achieve-inside-progrebar .progressbar-text-father .progressbar-text3 {
    display: none; }
  .achievement-container .achieve-inside-title {
    width: 100%;
    font-size: 15px; }
  .achievement-container .block1 .achieve-inside-right {
    width: 100%; }
  .achievement-container .block1 .achieve-inside-left {
    width: 100%; }
  .achievement-container .block2 .block2-1 {
    width: 100%; }
  .achievement-container .block2 .block2-2 {
    width: 100%;
    padding: 15px;
    box-sizing: border-box; }
  .achievement-container .block2:nth-of-type(odd) .block2-1 {
    position: relative;
    left: 0; }
  .achievement-container .block2:nth-of-type(odd) .block2-2 {
    position: relative;
    left: 0; } }
